body{
    width: 350px;
    font-size: 1rem;
}

.myContainer{
    padding-left: 10px;
    padding-right: 10px; 
    padding-top: 8px; 
    margin: 4px; 
}

.loading_div {
    /* width: 350px; */
    /* height: 200px; */
}
.error_div{
    padding: 5px;
}

.loader {
    /* padding: 3px; */
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 35px;
    height: 35px;
    animation: spin 1s linear infinite;
  }
  
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}